
    html, body, h1, h2, h3, p, ul , ol, li, a{
    padding: 0;
    margin: 0;
    border: 0;
    }
    h1{
      font-size: 3em;
      color: steelblue;
       margin: 10px 0 15px 0;
    }
    body{
      padding: 20px;
    }
    .recipes{
      padding: 0;
    }
    .recipes li{
      list-style-type: none;
      border: 1px solid crimson;
    }
    .recipes a{
      text-decoration: none;
      color: #7facaa;
    }
    .recipes h3{
      border-bottom: 0;
    }
    h2{
      margin: 10px 0 20px 0;
    }
    h3{
      margin: 15px 0;
      border-bottom: 1px solid #CCC;
      padding-bottom: 3px;
    }
    ol, ul {
      padding-left: 50px;
      /*border: 1px solid crimson;*/
    }
    nav{
      border-bottom: 1px solid steelblue;
    }
    nav ul {
      padding-left: 0;
    }
    nav a {
      color: #0000af;
      text-decoration: none;
    }
    nav li {
      display: inline;
      margin: 0 20px;
    }
